body{
    background-color: rgb(0, 0, 0);
}

.imgnav{
    left: 10px;
    position: absolute;
    top: -10px;
    
    width: 5vw;
    height: 5vw;
}
nav{
    position: fixed;
    width: 100%;
    top:30px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 15px 5%;
    background-color: #000000;
    background-image: url("../imgs/téléchargement\ \(6\).jfif");
background-repeat: no-repeat;
background-position: center;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
ul li{
    margin:10px;
    list-style: none;

}
ul li a {
    text-decoration: none;
    color: red;
    font-size: medium;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
}





