body{
    /* background-color: rgb(0, 0, 0); */
  background-image: url("../imgs/BMW.jfif");
  backdrop-filter:blur(10px);
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
    
    /* background-position: 60%; */
}
.black{
    background-color: rgb(0, 0, 0);
    width: 40vw;
    height: 100%;
    position: absolute;
}
.immg{
    
    /* border:1px solid rgba(255, 0, 0, 0.486); */
    /* box-shadow: 0 0 20px #ff000079; */
    width:15%;
    height: 60vh;
    /* border-radius: 10px; */
    /* border: 2px solid white; */
    border-left:none ;
    position: relative;
    /* left: 20%; */
    /* left: 80vw; */
    /* left: 50vw; */
    top: 9.9vw;
    right: 20.5vw;
    /* box-shadow: 0 0 20px #ffffff; */
}
.imgg{
    width: 20%;
    height: 100vh;
    /* border:1px solid rgba(255, 0, 0, 0.486); */
    /* box-shadow: 0 0 20px #ff000079; */
    /* border-radius: 10px; */
    /* border-left: 2px solid  #ff000079; */
    position: relative;
    /* left: 20%; */
    left: 80vw;
    /* left: 0; */
    /* top: 50px; */
    /* box-shadow: 0 0 20px #ffffff; */
}
.form-containerr{
    
    background-image: url("../imgs/BMW.jfif");
    
    width: 30em;
    height: 15em;
    position: absolute;
    border:1px solid rgba(255, 0, 0, 0.486);
    box-shadow: 0 0 20px #ff000079;
    height: 100vh;
    /* margin: auto; */

    right: 45em;
    top: -0em;
    border-top: none;
    border-bottom: none;
}
.v1{
    margin-top:18vw ;
    margin-left: 40px;
    margin-right:40px ;
}



