.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    /* color: #333; */
}

.image {
    position: absolute;
    /*hnaa 3aad tfkarna had l3jbb absolut raah kat7aayd element mn blasto kanah makaynx */
    top: 17em;
    left: 5em;
    width: 39em;
    height: 27em;
    border-radius: 10px;
    /* box-shadow: 0 0 30px red; */


}

.form-container {
    font-family: "***** dak sa3a nxofo";
    width: 50%;
    position: absolute;
    top: 6em;
    right: 10em;
    margin: auto;
    box-shadow: 0 0 30px red;
    /*bax it9aad rasso o ihanina */
    /* background: #f8fafc; */
    background-color: #000000;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #111827;
    color: #ffffff;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 20px;
    color: #f5f5f5;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f5f5f5;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type='number'],
input[type='password'],
input[type="url"],
input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 4px;
    box-sizing: border-box;
    color: #34495e;
    background-color: #fff4ec;

}

.social-inputs input {
    margin-bottom: 31px;

}

.button , input[type='button'] {
    background-color: #d21515;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: #F9FAFB;
    padding: 10px 15px;
    /* border-radius: 40px; */
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 0 10px red;

}

button:hover , input[type='button']:hover {

    background-color: #ae1313;
}



input[type="time"] {
  width: 100%;
  padding: 12px 40px 12px 15px; /* Right padding for icon */
  border: 2px solid #db3434;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff4ec;
  appearance: none; /* Disables default styling */
}